################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MCQ/.vs/MCQ/v16/Server/sqlite3
